html {
  --primary-color: #328dc9;
  --gray-1: #212121;
  --gray-2: #282828;
  --gray-3: rgba(49, 49, 49, 0.94);

  --button-active: #828282;
  --button-disabled: #3c3c3c;
  --button-hover: linear-gradient(85.28deg, #e0b77b -3.75%, #5f4797 120.09%);
  --button-focus: #e9e9e9;

  --gradient: linear-gradient(85.28deg, #e0b77b -3.75%, #5f4797 120.09%);
  --gradient-hover: linear-gradient(85.28deg, #f3cd94 -3.75%, #7f63be 120.09%);

  --text-base: #828282;
  --text-light: #e9e9e9;
  --text-d6: #d6d6d6;

  --yellow: #e0b77b;
  --purple: #5f4797;

  --table-row-bg: #c4c4c4;
}
